<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="formato" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  
  <!-- CONFIGURACION DE LOG4NET -->
  <log4net>
    
    <appender name="ErrorAppender" type="log4net.Appender.FileAppender">
      <file value="Errors.log" />
      <appendToFile value="true" /> 
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
      <threshold value="WARN"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="ERROR" />
       </filter>
    </appender>
    
      <appender name="InfoAppender" type="log4net.Appender.FileAppender">
      <file value="Comm.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
      <threshold value="DEBUG"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
      <filter class="log4net.Filter.DenyAllFilter"/>
    </appender>
    
     <root>
          <level value="DEBUG" />
          <appender-ref ref="InfoAppender" /> 
          <appender-ref ref="ErrorAppender" /> 
    </root> 
    
  </log4net>
  <!-- HASTA ACA -->
  
  <appSettings>
    <add key="DatabaseType" value="SQL"/>
    <add key="Descarga" value="False"/>
    <add key="Fichero" value="True"/>
    <add key="Version" value="1.1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ZkManagement.Properties.Settings.ZkManagementConnectionString" connectionString="Data Source=DESKTOP-1FK88J0\SQLSERVER;Initial Catalog=ZkManagement;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SaftimeDB" connectionString="Data Source=SAF05\SQLEXPRESS;Initial Catalog=CSJROS; User ID=saftec;Password=ana; Connection Timeout=35" providerName="System.Data.SqlClient" />
    <add name="CNS" connectionString="Data Source=SAF05\SQLEXPRESS;Initial Catalog=SaftComm; User ID=saftec;Password=ana; Connection Timeout=35" providerName="System.Data.SqlClient" />  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>